
@{
    ViewBag.Title = "pageErreur";
}

<div class="container text-center">
    @*<div class="logo-404">
        <a href="~/Home/Index"><span>E</span>-Shop</a>
    </div>*@
    <div class="content-404">
        <img src="~/Content/images/404/404.jpg" class="img-responsive" alt="" />
        <h1><b>OUPS!</b> Nous ne trouvons pas la page!!!</h1>
        @*<p>Uh... So it looks like you brock something. The page you are looking for has up and Vanished.</p>*@
        <h2><a href="~/Home/Index">Retourner à la page d'acceuil</a></h2>
        <br/>
    </div>
</div>

